// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

/* Variables */
@primary-color: darkcyan; 
@main-bg-color: #E9ECEF;
@main-border: solid 1.5px #a1b4b4;

/* Mixins */

.font-size-weight(@s,@w) {
	font-size: @s;
	font-weight: @w;
}





/* Resume */

html, body {
    height: 100%;
}

html {
  font-size: 62.5%;	
}

.container {
  width: 900px;
  margin: auto;

  @media (max-width: 500px) {		
	width: 100%;	
  }


 header {
  nav {	
	text-align: right;
	font-size: 1.8rem;
	margin: 2% 1%;

	@media (max-width: 500px) {		
		width: 100%;
		display: flex;  	
		flex-direction: column;
		text-align: center;
	}

	
	
	a {		
	  padding: 2% 2%;	
	  text-decoration: none;
	  font-weight: bold;	 
	  color: @primary-color;
	} // a

  } //nav

 }//header
 
 .content {	
	max-width: 95%;
	margin: auto;	

	#home {
		display: flex;		
		justify-content: space-between;
		background-color: #a1b4b4;		
		padding: 3%;
        
		@media (max-width: 500px) {		
			flex-direction: column;
			width: 100%;		
		}
		  
	} // intro

	
	
	.left-side {
        
		img {
			max-width: 153px;	
			border-radius: 50%;	
			border: 5px slategray dotted;
			
		} // img
   
		h1 {
			font-size: 2.3rem;			
		} // h1

	} //left-side	

	.right-side {	
        
		p:first-child {
			padding: 1% 0%;
			font-size: 8.5rem;	
			color: @primary-color;
			font-style: oblique;		
		} // first p

		p:last-child {
			padding: 0% 5%;
			font-size: 3.5rem;
			text-align: center;
			color: @primary-color;			
		} // last p
		

	} //right-side

	#intro-section {
	    margin-top: 3%; 

		h1 {
			.font-size-weight(3rem,bold);
			background-color: white;
			margin-bottom: 3%;
		} // h1

		.abt-text p {
			font-size: 2.5rem;
			padding: 1% 1%;
			text-align: justify;
			line-height: 1.5;  
			background-color: @main-bg-color;
			border: @main-border;
		} //abt-text p

		

	}// intro-section
	
	#skill-section {

		margin-top: 3%;
		

		h2 {
			.font-size-weight(3rem,bold);
			margin-bottom: 3%;
		} //end h2
		
		.skill-content {	
				
                div {
					display: table; // set span in div vertical align
					width: 100%;					
					background-color: @main-bg-color;
				} 

				div span {

					padding: 3.5% 2%;
					font-size: 2.5rem;
					display: table-cell;
					vertical-align: middle;					
					border: @main-border;

				}
				
				div span:first-child{				
					width: 40%;
					font-style: italic;
					font-weight: bold;
				} //end div span:first-child

				div span:last-child {					
					font-size: 2rem;
					width: 60%;					
				} //end div span:last-child          
		
	    } //skill-content
		
	} //#skill-section

	#history-section {
				
		margin-top: 3%;
		width: 100%;
		
		h3 {
			padding-bottom: 1%;
			.font-size-weight(3rem,bold);				
			margin-bottom: 3%;
		} //h3


		.history-content {

			
			.title-row {
				display: flex;	
				padding: 2%;
				.font-size-weight(2.5rem,bold);
				font-style: italic;
				border-top: @main-border;
			} //title-row


			.row1, .row2, .row3 {
				display: flex;
				padding: 2%;
				font-size: 2rem;				
				padding: 2%;
				border-top: @main-border; 
			} // row1, row2

			.row2 {
				background-color: @main-bg-color;
			} //row2


			.col-one {
				width: 15%;
			} //col-one

			.col-two {
				width: 30%;
			} //col-two

			.col-three {
				width: 30%;
			} //col-three

			.col-four {
				width: 25%;
			} //col-four

	    }//history-content
		
	} //history-section

	#contact-section {
				
		margin-top: 3%;
		width: 100%;
		border-radius: 5px;
	    background-color: @main-bg-color;
	    padding: 20px;
		
		h4 {
			padding-bottom: 1%;
			.font-size-weight(3rem,bold);				
			margin-bottom: 3%;
		} //h4



		.contact-content {

			display: flex;

			.static-info {
				display: flex;	
				flex-direction: column;				
				.font-size-weight(2rem,bold);
				font-style: italic;
				line-height: 2;
				border-top: @main-border;
				width: 50%;

			} //static-info


			.info-form {							
				font-size: 2rem;				
				padding: 2%;
				border-top: @main-border;
				width: 50%;
				line-height: 2;

				input[type=text], select, textarea{
					width: 100%;
					padding: 12px;
					border: 1px solid #ccc;
					border-radius: 4px;
					box-sizing: border-box;
					resize: vertical;
				  }
				  
				  /* Style the submit button */
				  input[type=button] {
						background-color: #4CAF50;
						color: white;
						padding: 12px 20px;
						border: none;
						border-radius: 4px;
						cursor: pointer;
						float: right;
				  }
				  

			} // info-form

	    }//contact-content
		
	} //contact-section

  } //content

} //container




  

  
